<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>

<h1>Carousel Project</h1>
<div id="container">
    <div class="slide_wrap">
        <div class="slide_box">
            <div class="slide_list clearfix">
                {% for _ in n %}
                {% load index %}
                <a href="{{ urls|index:forloop.counter0 }}">
                    <li style="list-style-type:none;"><img src="{{ images|index:forloop.counter0 }}" class="slide_content slide0{{forloop.counter}}" alt=""></li>
                </a>
                {% endfor %}
            </div>
            <!-- // .slide_list -->
        </div>
        <!-- // .slide_box -->
        <div class="slide_btn_box">
            <button type="button" class="slide_btn_prev">Prev</button>
            <button type="button" class="slide_btn_next">Next</button>
        </div>
        <!-- // .slide_btn_box -->
        <ul class="slide_pagination"></ul>
        <!-- // .slide_pagination -->
    </div>
    <!-- // .slide_wrap -->
</div>
<!-- // .container -->

<script src="/static/JS/slideShow.js"></script>
</body>
</html>
