<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doc  ument</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/bootstrap.min.css"/>
    <script rel="stylesheet" type="text/javascript" href="/static/JS/bootstrap.min.js"></script>
</head>
<body>
<style type="text/css">
    .jumbotron {
        text-shadow: black 0.2em 0.2em 0.2em;
        color: White;
    }

</style>

    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 4</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">HelperFriend</h1>
            <p class="text-center">HelperFriend는 멀티캠퍼스 학생들을 위한 교육용 사이트입니다.</p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">강의 들으러 가자</a></p>
        </div>
    </div>
</body>
</html>